<!DOCTYPE html>
<!--
The contents of this file are subject to the Common Public Attribution
License Version 1.0. (the "License"); you may not use this file except in
compliance with the License. You may obtain a copy of the License at
https://raw.githubusercontent.com/udia-software/udia/master/LICENSE.
The License is based on the Mozilla Public License Version 1.1, but
Sections 14 and 15 have been added to cover use of software over a computer
network and provide for limited attribution for the Original Developer.
In addition, Exhibit A has been modified to be consistent with Exhibit B.

Software distributed under the License is distributed on an "AS IS" basis,
WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
the specific language governing rights and limitations under the License.

The Original Code is UDIA.

The Original Developer is the Initial Developer.  The Initial Developer of
the Original Code is Udia Software Incorporated.

All portions of the code written by UDIA are Copyright (c) 2016-2017
Udia Software Incorporated. All Rights Reserved.
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UDIA</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header>
      <nav role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link "UDIA", to: node_path(@conn, :index), class: "navbar-brand" %>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <%= if @current_user do %>
              <li><%= link "All Users", to: user_path(@conn, :index) %></li>
              <li><%= link @current_user.username, to: user_path(@conn, :show, @current_user.id) %></li>
              <% else %>
              <li><%= link "Register", to: user_path(@conn, :new) %></li>
              <li><%= link "Log in", to: session_path(@conn, :new) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <div class="container-fluid">
      <%= if get_flash(@conn, :info) do %>
      <div class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></div>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
      <div class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></div>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <script>window.userToken = "<%= assigns[:user_token] %>"</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
