<div class="pusher">
  <div>
    <h1>Login</h1>
    <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@example.com</code>
      / <code>test</code></p>
    <p>Admin account is <code>admin@example.com</code> / <code>admin</code></p>
  </div>
  <div>
    <form name="form" ng-submit="vm.login(form)" novalidate>

      <div>
        <label>Email</label>

        <input type="email" name="email" ng-model="vm.user.email" required>
      </div>

      <div>
        <label>Password</label>

        <input type="password" name="password" ng-model="vm.user.password" required>
      </div>

      <div>
        <p ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
          Please enter your email and password.
        </p>
        <p ng-show="form.email.$error.email && vm.submitted">
          Please enter a valid email.
        </p>

        <p>{{ vm.errors.login }}</p>
      </div>

      <div>
        <button type="submit">
          Login
        </button>
        <a href="/signup">
          Register
        </a>
      </div>

      <hr/>
      <div>
        <div>
          <oauth-buttons></oauth-buttons>
        </div>
      </div>
    </form>
  </div>
</div>
