

<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">UDIA</h4>
        <div class="ui inverted link list">
          <a class="item" href="http://angular-fullstack.github.io/generator-angular-fullstack">GAF Documentation</a>
          <a class="item" href="https://gitter.im/udiApp/Lobby">Chat on Gitter</a>
          <a class="item" href="https://github.com/udia-software/udia/issues?state=open">Issues</a>
          <a class="item" href="https://www.udia.ca/log/2016/11/6/philosophy-log">Philosophy Log</a>
        </div>
      </div>
    </div>
  </div>
</div>
