<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="item" ng-class="{active: $ctrl.isActive('/')}" href="/">UDIA</a>
    <a ng-show="$ctrl.isAdmin()" ng-class="{active: $ctrl.isActive('/admin')}" href="/admin">Admin</a>
    <div class="right menu">
      <div class="item" ng-hide="$ctrl.isLoggedIn()">
        <a class="ui button" href="/login">Log in</a>
      </div>
      <div class="item" ng-hide="$ctrl.isLoggedIn()">
        <a class="ui button" href="/signup">Sign Up</a>
      </div>
      <div class="item" ng-show="$ctrl.isLoggedIn()">
        <a class="ui button" href="/settings">Hi, {{ $ctrl.getCurrentUser().name }}</a>
      </div>
    </div>
  </div>
</div>
