<div id="navbar" class="ui large top fixed menu">
  <div class="ui container">
    <a class="item" ng-class="{active: $ctrl.isActive('/')}" href="/">UDIA</a>
    <a ng-show="$ctrl.isAdmin()" ng-class="{active: $ctrl.isActive('/admin')}" href="/admin">Admin</a>
    <div class="right menu">
      <div class="item" ng-hide="$ctrl.isLoggedIn()">
        <a class="ui button" href="/login">Log in</a>
      </div>
      <div class="item" ng-hide="$ctrl.isLoggedIn()">
        <a class="ui button" href="/signup">Sign Up</a>
      </div>
      <div class="item" ng-show="$ctrl.isLoggedIn()">
        <a class="ui button" href="/settings">Hi, {{ $ctrl.getCurrentUser().name }}</a>
      </div>
    </div>
  </div>
</div>
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">
        UDIA
      </h1>
      <h2>Pursue Existential Crisis</h2>
      <div class="ui huge primary button">Get Started</div>
    </div>
  </div>
</div>
