<!--
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

Now.
-->

<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">
        UDIA
      </h1>
      <h2>Pursue Existential Crisis</h2>
      <div class="ui huge primary button">Get Started</div>
    </div>
  </div>
</div>

<div class="ui text container">
  <br>
  <h1 class="ui header">Features:</h1>
  <br>
</div>

<div class="ui text container">
  <div class="ui stackable grid container">
    <div class="row" ng-repeat="thing in $ctrl.awesomeThings">
      <div class="eight wide column">
        <h3 class="ui header">{{thing.name}}</h3>
        <p>{{thing.info}}</p>
      </div>
      <div class="1 wide right floated column">
        <a ng-click="$ctrl.deleteThing(thing)">x</a>
      </div>
    </div>
  </div>
</div>

<div class="ui text container">
  <h4 class="ui horizontal header divider">
    <a href="/">UDIA</a>
  </h4>
  <h3 class="ui header">Syncs in Real Time Across Clients</h3>
  <form class="ui form">
    <div class="field">
      <label>Thing</label>
      <input type="text" name="thing" placeholder="UDIA" ng-model="$ctrl.newThing">
    </div>
    <button class="ui button" ng-click="$ctrl.addThing()">Submit</button>
  </form>
</div>

