<h2>Listing users</h2>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for user <- @users do %>
      <tr>
        <td><%= user.username %></td>
        <td>
          <%= link "Show", to: user_path(@conn, :show, user), class: "ui mini button basic" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
