<div>
  <div>
    <div>
      <h1>Sign up</h1>
    </div>
    <div>
      <form class="form" name="form" ng-submit="vm.register(form)" novalidate>

        <div ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <label>Name</label>

          <input type="text" name="name" ng-model="vm.user.name" required/>
          <p ng-show="form.name.$error.required && vm.submitted">
            A name is required
          </p>
        </div>

        <div ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                         'has-error': form.email.$invalid && vm.submitted }">
          <label>Email</label>

          <input type="email" name="email" ng-model="vm.user.email" required mongoose-error/>
          <p ng-show="form.email.$error.email && vm.submitted">
            Doesn't look like a valid email.
          </p>
          <p ng-show="form.email.$error.required && vm.submitted">
            What's your email address?
          </p>
          <p ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>

        <div ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                         'has-error': form.password.$invalid && vm.submitted }">
          <label>Password</label>

          <input type="password" name="password" ng-model="vm.user.password" ng-minlength="3"
                 required mongoose-error/>
          <p ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
            Password must be at least 3 characters.
          </p>
          <p ng-show="form.password.$error.mongoose">{{ vm.errors.password }}</p>
        </div>

        <div ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                         'has-error': form.confirmPassword.$invalid && vm.submitted }">
          <label>Confirm Password</label>
          <input type="password" name="confirmPassword" ng-model="vm.user.confirmPassword" match="vm.user.password"
                 ng-minlength="3" required/>
          <p ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match.
          </p>
        </div>

        <div>
          <button type="submit">
            Sign up
          </button>
          <a href="/login">
            Login
          </a>
        </div>

        <hr/>
        <div>
          <div>
            <oauth-buttons></oauth-buttons>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>
